<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinou.lawfrim.web.mapper.BusLawyerMapper">

    <select id="getList" resultType="com.xinou.lawfrim.web.vo.lawyer.LawyerVo">
        select lawyer.*,
               sus.account,
               rur.role_id as roleId,
               role.name as roleName
        from bus_lawyer lawyer
        left join sys_user sus on lawyer.sys_user_id = sus.id
        left join sys_re_user_role rur on rur.user_id = lawyer.sys_user_id
        left join sys_role role on role.id = rur.role_id
        where lawyer.is_delete = 0
        <if test = " condition.name != null and condition.name != '' ">
            <bind name="name" value="'%'+condition.name+'%'"/>
            and lawyer.name like #{ name }
        </if>
        order by lawyer.gmt_create desc
    </select>

    <!-- 获取数据总数 -->

    <select id="getTotal" resultType="java.lang.Integer">
        select count(*)
        from bus_lawyer lawyer
        left join sys_user sus on lawyer.sys_user_id = sus.id
        left join sys_re_user_role rur on rur.user_id = lawyer.sys_user_id
        left join sys_role role on role.id = rur.role_id
        where lawyer.is_delete = 0
        <if test = " condition.name != null and condition.name != '' ">
            <bind name="name" value="'%'+condition.name+'%'"/>
            and lawyer.name like #{ name }
        </if>
    </select>


<!--获取分配律师列表-->
    <select id="getAssignLawyerList" resultType="com.xinou.lawfrim.web.vo.lawyer.AssignLawyerVo">
       SELECT law.id as lawyerId,
              law.name as lawyerName,
              law.adviser as isAdviser,
              a.score,
              a.notAuditNum,
              a.auditNum
	   FROM bus_lawyer law
       left join (select la.id,
               avg(case when ba.state=4 then aa.score end) as score,
			   count(case when ba.state in(1,2,3)then 1 end) as notAuditNum,
               count(case when ba.state=4 then 1 end) as auditNum
        from bus_lawyer la left join bus_agreement_audit aa on aa.lawyer_id = la.id
                           left join bus_agreement ba on ba.id = aa.agreement_id
                           group by la.id
    )as a on a.id = law.id order by is_delete
    <if test="condition.notAuditNum != null and condition.notAuditNum!='' ">
    , notAuditNum
    </if>
    <if test="condition.isAdviser != null and  condition.isAdviser != '' ">
    ,isAdviser desc
    </if>
    <if test="condition.auditNum != null and condition.auditNum != '' ">
    ,auditNum desc
    </if>
    <if test="condition.score != null and condition.score != '' ">
     , score desc
    </if>
    </select>


    <select id="getAssignLawyerTotal" resultType="java.lang.Integer">
        select count(*)
        FROM bus_lawyer law
        left join (select la.id,
        avg(case when ba.state=4 then aa.score end) as score,
        count(case when ba.state in(1,2,3)then 1 end) as notAuditNum,
        count(case when ba.state=4 then 1 end) as auditNum
        from bus_lawyer la left join bus_agreement_audit aa on aa.lawyer_id = la.id
        left join bus_agreement ba on ba.id = aa.agreement_id
        group by la.id
        )as a on a.id = law.id order by is_delete
        <if test="condition.notAuditNum != null and condition.notAuditNum!='' ">
            , notAuditNum
        </if>
        <if test="condition.isAdviser != null and  condition.isAdviser != '' ">
            ,isAdviser desc
        </if>
        <if test="condition.auditNum != null and condition.auditNum != '' ">
            ,auditNum desc
        </if>
        <if test="condition.score != null and condition.score != '' ">
            , score desc
        </if>
    </select>
</mapper>
